
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0a0f1a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background: rgba(0, 0, 0, 0.6);
}

nav a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 60px 30px;
}

.hero h1 {
  font-size: 60px;
  color: #fdee4c;
}
.hero h1 span {
  color: #cccccc;
}
.hero p {
  font-size: 22px;
  margin-bottom: 40px;
}
.btn {
  background: #00bfff;
  padding: 15px 30px;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.tshirt {
  max-width: 300px;
  margin-top: 40px;
}

.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 30px;
  gap: 30px;
}

.service {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 12px;
  width: 280px;
  text-align: center;
}

footer {
  background-color: #111;
  text-align: center;
  padding: 40px 20px;
}

footer img {
  max-width: 400px;
  margin: 20px auto;
  display: block;
}
